*{
    padding:0;
    margin: 0;
    font-family: 'Noto Sans', 'Helvatica Neue','Helvatica','Arial','sans-serif';
    
}

/*Navigation*/
nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: #000000 solid 3px;
    margin-bottom: 30px;
}

.logo{
    padding-left: 9%;
    display: flex;
    align-items: center;

}

.logo-image{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.title-container{
    display: flex;
    align-items: center;
    height: 70px;
}
.title{
    
    height: inherit;
    font-size: 40px;

}
    
/*Body*/

.accordion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    
}

.accordion-item{
    border:none !important;
    width: 80%;
}

.accordion-header{
    display: flex;
    gap: 20px;
}

.accordion-button{
    width:50% !important;
    border: none !important;
    box-shadow: none !important;
    background-color: white !important;
    color: #000000 !important;
    padding:5px 5px !important;
    font-size: small !important;
    font-style: italic!important;
}

.accordion-button::after{
    margin-left: 5px !important;
}
.jobs-section{
    display: flex;
    justify-content: center;
    align-items: center;

}

.jobs-container{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.job{
    border: 1px solid lightgray ;
    margin-bottom: 10px;
    width:70%;
    height: 320px;
    border-radius: 10px;
    padding-left: 15px;

}

.job-heading{
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}
.company{
    font-size: 15px;
    color:#6f6f6f;
    margin-bottom: 0 !important;
}

.location{
    font-size: 15px;
    color:#6f6f6f;
    margin-bottom: 10px !important;
}

.job-type{
    background-color: rgb(204, 252, 204);
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: green;
    margin-bottom: 0px !important;
    font-weight: 400;
    font-size: .8rem;
}

.point-container{
    
    margin-bottom: 15px;
}



.point-container li{
    font-size: .875rem;
    line-height: 1.25rem;
    color: #6f6f6f;
    list-style-type:circle;
    font-weight: 400;
    margin-bottom: 10px;
}

.expire{
    color: #6f6f6f;
    font-weight: 500;
    font-size: .875rem;
}

.description-container{
    width:40%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.description{

    border-radius: 20px;
    border: solid 1px lightgrey;
    height: 500px;
    width: 80%;


}





